// Link icons
.icon-link {
  color: $txt-color;

  &::before {
    content: "";
    display: inline-block;
    font-family: "bootstrap-icons";
    line-height: 1.1;
    position: relative;
    margin: 0;
    text-decoration: none;
  }

  &__archive-fill::before {
    content: "\F10C";
  }

  &__star-fill::before {
    content: "\F586";
  }

  &__bookmarks-fill::before {
    content: "\F1A3";
  }

  &__plus-circle-fill::before {
    content: "\F4F9";
  }

  &__gear-fill::before {
    content: "\F3E2";
  }

  &__geo-alt-fill::before {
    content: "\F3E7";
  }

  &__telegram::before {
    content: "\F5B3";
  }

  &__youtube::before {
    content: "\F62B";
  }

  &__facebook::before {
    content: "\F344";
  }

  &__behance::before {
    content: "\F65C";
  }

  &__instagram::before {
    content: "\F437";
  }

  &__eye-fill::before {
    content: "\F33E";
  }

  &__eye-fill.open::before {
    content: "\F33F";
  }

  &__bi-book::before {
    content: "\f194";
  }

  &__bi-save::before {
    content: "\f525";
  }

  &__bi-blockquote-left::before {
    content: "\f190";
  }

  &__bi-arrow-down-square::before {
    content: "\f126";
    font-size: 20px !important;
    top: -3px;
  }

  &__bi-bookmarks-fill::before {
    content: "\f1a3";
  }

  &.icon-link-only {
    margin-right: 8px;
    text-decoration: none;
    opacity: .4;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      font-size: 24px;
      margin-right: 0;
    }
  }
}